.categorr {
    display: flex;
    align-items: center;
    gap: 149px;
    width: 251px;
    font-size: 16px;
    color: #9F9F9F;
}

.h1_categg {
    margin-left: 0;
}

.nomer_str {
    margin-right: 0;
}

