.kart{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.title_ka{
    font-size: 24px;
    font-weight: 500px;
    margin: 0;
}
.price_ka{
    font-size: 18px;
    font-weight: 500px;
    margin: 0;
}
.rew{
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0;
}
.price_ka{
    font-size: 18px;
    font-weight: 500px;
}
.kol_rew{
    font-size: 13px;
    color: #9F9F9F;
}

@media (min-width: 768px) and (max-width: 1439px) {
    .title_ka {
        font-size: 18px;
        font-weight: 500;
    }
    .price_ka {
        font-size: 14px;
        font-weight: 500;
    }
    .kol_rew {
        font-size: 11px;
    }
    .kart {
        gap: 12px;
    }
    .kart_img{
        width: 195px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .title_ka {
        font-size: 14px;
        font-weight: 500;
    }
    .price_ka {
        font-size: 12px;
        font-weight: 500;
    }
    .kol_rew {
        font-size: 9px;
    }
    .kart {
        gap: 8px;
    }
    .kart_img {
        width: 140px;
    }
}