.reset_p{
    display: flex;
    gap: 12px;
    align-items: center;
    width: 211px;
}
.text_reset{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.h1_text_reset{
    font-size: 14px;
}
.date_reset{
    font-size: 12px;
    color: #9F9F9F;
    margin-left: 0;
}