<div class="assortiment">
    <div class="container">
        <div class="zagolovok">
            <p class="bold"><b>Browse The Range</b></p>
            <p class="podpus">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    <div class="kategoria">
        <div class="kat1">
            <picture>
                <img src="/Gulp_morozic/assets/images/dining.webp" alt="">
            </picture>
            <p class="text_kat1"><b>Dining</b></p>
        </div>
        <div class="kat1">
            <picture>
                <img src="/Gulp_morozic/assets/images/living.webp" alt="">
            </picture>
            <p class="text_kat1"><b>Living</b></p>
        </div>
        <div class="kat1">
            <picture>
                <img src="/Gulp_morozic/assets/images/bedroom.webp" alt="">
            </picture>
            <p class="text_kat1"><b>Bedroom</b></p>
        </div>
    </div>
</div>