<div class="beatroom">
    <div class="container">
        <div class="body_br">
            <div class="text_br">
                <p class="h1_br"><b>50+ Beautiful rooms inspiration</b></p>
                <p class="h2_br">Our designer already made a lot of beautiful prototipe of rooms that inspire you</p>
                <div class="bth2">
                    <button type="button" class="bth2"><b>Explore More</b></button>
                </div>
            </div>
            <div class="bedroom1">
                <picture>
                    <img src="/Gulp_morozic/assets/images/bedroom1.webp" alt="" class="bedroom1">
                </picture>
            </div>
            <div class="bedroom2">
                <picture class="beatr">
                    <img src="/Gulp_morozic/assets/images/bedroom2.webp" alt="" class="beatr">
                </picture>
                <div class="circle">
                    <picture>
                        <svg width="120" height="27" viewBox="0 0 120 27" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle opacity="0.7" cx="13.5" cy="13.5" r="13" stroke="#B88E2F" />
                            <circle cx="13.5" cy="13.5" r="5" fill="#B88E2F" stroke="#B88E2F" />
                            <circle cx="52.5" cy="13.5" r="5.5" fill="#D8D8D8" />
                            <circle cx="83.5" cy="13.5" r="5.5" fill="#D8D8D8" />
                            <circle cx="114.5" cy="13.5" r="5.5" fill="#D8D8D8" />
                        </svg>

                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>