<div class="checkout">
    <div class="container">
        <div class="checkout">
            <div class="text_check">
                <p>Billing details</p>
            </div>
            <div class="check_main">
                <div class="left_check">
                    <div class="one_stroke_formn">
                        @@include('../components/_form_check.html', {
                        "legaa": "First Name",
                        "type": "text",
                        "wid": "211",
                        "heig": "75",
                        "placeh": ""
                        })
                        
                        @@include('../components/_form_check.html', {
                        "legaa": "Last Name",
                        "type": "text",
                        "wid": "211",
                        "heig": "75",
                        "placeh": ""

                        })
                    </div>
                    @@include('../components/_form_check.html', {
                    "legaa": "Company Name (Optional)",
                    "type": "text",
                    "wid": "453",
                    "heig": "75",
                    "placeh": ""
                    })
                    @@include('../components/_form_select.html', {
                    "name_sel": "Country / Region",
                    "placeh": "Sri Lanka",
                    "wid": "453",
                    "heig": "75",
                    "var_one": "Russia",
                    "var_two": "Nizhniy Novgorod",
                    "var_three": "Russia",
                    "var_four": "Nizhniy Novgorod",
                    })
                    @@include('../components/_form_check.html', {
                    "legaa": "Street address",
                    "type": "text",
                    "wid": "453",
                    "heig": "75",
                    "placeh": ""
                    })
                    @@include('../components/_form_check.html', {
                    "legaa": "Town / City",
                    "type": "text",
                    "wid": "453",
                    "heig": "75",
                    "placeh": ""
                    })
                    @@include('../components/_form_select.html', {
                    "name_sel": "Province",
                    "placeh": "Western Province",
                    "wid": "453",
                    "heig": "75",
                    "var_one": "Semenovsky district",
                    "var_two": "Kerzhenets",
                    "var_three": "Belasovka",
                    "var_four": "Drofeikha",
                    })
                    @@include('../components/_form_check.html', {
                    "legaa": "ZIP code",
                    "type": "text",
                    "wid": "453",
                    "heig": "75",
                    "placeh": ""
                    })
                    @@include('../components/_form_check.html', {
                    "legaa": "Phone",
                    "type": "phone",
                    "wid": "453",
                    "heig": "75",
                    "placeh": ""
                    })
                    @@include('../components/_form_check.html', {
                    "legaa": "Email address",
                    "type": "email",
                    "wid": "453",
                    "heig": "75",
                    "placeh": ""
                    })
                    @@include('../components/_form_check.html', {
                    "legaa": "",
                    "type": "text",
                    "wid": "453",
                    "heig": "75",
                    "placeh": "Additional information"
                    })
                </div>
                <div class="right_infa">
                    <div class="one_right_infa">
                        <div class="left_right_in">
                            <p class="prod">Product</p>
                            <div class="au">
                                <p class="assof">Asgaard sofa</p>
                                <p>X</p>
                                <p>1</p>
                            </div>
                            <p class="sub">Subtotal</p>
                            <p class="sub">Total</p>
                        </div>
                        <div class="right_right_in">
                            <p class="subtota">Subtotal</p>
                            <p class="rss">Rs. 250,000.00</p>
                            <p class="rss">Rs. 250,000.00</p>
                            <p class="rss_big">Rs. 250,000.00</p>
                        </div>
                    </div>
                    <div class="line_right_infa">

                    </div>
                    <div class="two_right_infa">
                        <div class="h1_two_infa">
                            <div class="cicle_two_infa">

                            </div>
                            <p>Direct Bank Transfer</p>
                        </div>
                        <p class="text_two_infa">Make your payment directly into our bank account. Please use your Order
                            ID as the payment reference. Your order will not be shipped until the funds have cleared in
                            our account.</p>
                        <div class="list">
                            <div class="list_one">
                                <div class="cice_list">

                                </div>
                                <p>Direct Bank Transfer</p>
                            </div>
                            <div class="list_one">
                                <div class="cice_list">

                                </div>
                                <p>Cash On Delivery</p>
                            </div>
                        </div>
                        <p class="text2_two_infa">Your personal data will be used to support your experience throughout
                            this website, to manage access to your account, and for other purposes described in our
                            <b>privacy policy.</b></p>
                    </div>
                    <div class="b_right">
                        <button type="button" class="bth11">Place order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>