<div class="contact_main">
    <div class="container">
        <div class="contact_main">
            <div class="left_main">
                @@include('../components/_companent_contact.html', {
                "img_comp": "/Gulp_morozic/assets/images/addres",
                "h1_compp": "Address",
                "h2_comp": "236 5th SE Avenue, New York NY10000, United States",
                "h3_comp": ""
                })
                @@include('../components/_companent_contact.html', {
                "img_comp": "/Gulp_morozic/assets/images/phone",
                "h1_compp": "Phone",
                "h2_comp": "Mobile: +(84) 546-6789",
                "h3_comp": "Hotline: +(84) 456-6789"
                })
                @@include('../components/_companent_contact.html', {
                "img_comp": "/Gulp_morozic/assets/images/time",
                "h1_compp": "Working Time",
                "h2_comp": "Monday-Friday: 9:00 - 22:00",
                "h3_comp": "Saturday-Sunday: 9:00 - 21:00"
                })
            </div>
            <div class="right_main">
                @@include('../components/_form_check.html', {
                "legaa": "Your name",
                "type": "text",
                "wid": "529",
                "heig": "75",
                "placeh": "Abc"
                })
                @@include('../components/_form_check.html', {
                "legaa": "Email address",
                "type": "text",
                "wid": "529",
                "heig": "75",
                "placeh": "Abc@def.com"
                })
                @@include('../components/_form_check.html', {
                "legaa": "Subject",
                "type": "text",
                "wid": "529",
                "heig": "75",
                "placeh": "This is an optional"
                })
                @@include('../components/_form_check.html', {
                "legaa": "Message",
                "type": "text",
                "wid": "529",
                "heig": "120",
                "placeh": "Hi! i’d like to ask about"
                })
                <div class="submit">
                    <button type="button" class="bth12">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>