<footer>
    <div class="container">
        <div class="line">

        </div>
        <div class="footr">
            <div class="funiro">
                <p class="title_funiro"><b>Funiro.</b></p>
                <p class="titli_2_funiro">400 University Drive Suite 200 Coral <br> Gables, <br>FL 33134 USA</p>
            </div>
            <div class="links">
                <p class="titli_2_funiro">Links</p>
                <p class="title_2_links">Home</p>
                <p class="title_2_links">About</p>
                <a href="/Gulp_morozic/index_2.html" class="title_2_links">Shop</a>
                <a href="/Gulp_morozic/index_7.html" class="title_2_links">Contact</a>

            </div>
            <div class="help">
                <p class="titli_2_funiro">Help</p>
                <p class="title_2_links">Payment Options</p>
                <p class="title_2_links">Returns</p>
                <p class="title_2_links">Privacy Policies</p>
            </div>
            <form class="form">
                <legend class="leg">Newsletter</legend>
                <div class="form_button">
                    <input class="emal" type="email" required placeholder="Enter Your Email Address">
                    <button type="button" class="bth3"><b>SUBSCRIBE</b></button>
                </div>
            </form>
        </div>
        <div class="line_under_footer">
            <div class="text_under_line">
                <p>2023 furino. All rights reverved</p>
            </div>
        </div>

    </div>
</footer>