<form class="form_select">
    <label class="name_sel">@@name_sel</label>
    <select name="city" id="city-select" class="seltt" style="width: @@widpx; height: @@heigpx; padding-left: 1vh; background-color: transparent; border-radius: 10px; border: 1px solid #9F9F9F; font-size: 16px; color: #9F9F9F; display: flex; justify-content: center; align-items: center; ">
        <option value="">@@placeh</option>
        <option value="petersburg">@@var_one</option>
        <option value="samara">@@var_two</option>
        <option value="perm">@@var_three</option>
        <option value="novosibirsk">@@var_four</option>
    </select>
</form>