<div class="home_cards">
    <div class="container">
        <div class="home_cards">
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Syltherine",
            "color": "#E97171",
            "index": "-30%",
            "title": "Syltherine",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": "Rp 3.500.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Leviosa",
            "index": "",
            "title": "Leviosa",
            "text": "Stylish cafe chair",
            "summa": "Rp 2.500.000",
            "seil": ""
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Lolito",
            "color": "#E97171",
            "index": "-50%",
            "title": "Lolito",
            "text": "Luxury big sofa",
            "summa": "Rp 7.000.000",
            "seil": "Rp 14.000.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Respira",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Respira",
            "text": "Outdoor bar table and stool",
            "summa": "Rp 500.000",
            "seil": ""
            })

            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Grifo",
            "index": "",
            "title": "Grifo",
            "text": "Night lamp",
            "summa": "Rp 1.500.000",
            "seil": ""
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Muggo",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Muggo",
            "text": "Small mug",
            "summa": "Rp 150.000",
            "seil": ""
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Pingky",
            "color": "#E97171",
            "index": "-50%",
            "title": "Pingky",
            "text": "Cute bed set",
            "summa": "Rp 7.000.000",
            "seil": "Rp 14.000.000"
            })
            @@include('../components/_card.html', {
            "img": "/Gulp_morozic/assets/images/Potty",
            "color": "#2EC1AC",
            "index": "New",
            "title": "Potty",
            "text": "Minimalist flower pot",
            "summa": "Rp 500.000",
            "seil": ""
            })
        </div>
        <div class="showme">
            <button type="button" class="bth4">@@show</button>
        </div>
    </div>

</div>