<div class="oblozka">
    <div class="help_new_collcetion">
        <div class="new_collcetion">
            <div class="text_block">
               <div class="text">
                <p class="h1"><b>New Arrival</b></p>
                <p class="h2"><b>Discover Our New Collection</b></p>
                <p class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
               </div>
               <div class="bth1">
                    <button type="button" class="bth1"><b>BUY NOW</b></button>
               </div>
            </div>
        </div>
    </div>
</div>